
      <h1 class="title">Pazafira</h1>
  
      <h3 class="Titulo">Fantasy Poetry</h3>
      <section class="Descripción">
        <p> La poesía va más alla de una composición literaria, es una forma de expresión artística en prosa o en verso
          por medio de las palabras. Además, por medio de esta se puede tocar muchos temas del día a día y el autor
          puede expresar sus sentimientos y reflexiones.
          Se caracteriza por tener un conjunto de normas llamada métrica; esta consiste en formar la
          correcta
          distribución de las sílabas, la rima,
          la metáfora y el verso libre. <br>
          Existen diferentes tipos de poesía como la Poesía épica, dramática, lírica, coral, bucólica y vanguardista.
          Sin embargo, hoy en día la poesía moderna esta tomando mucha más fuerza ya que esta se caracteriza por el
          predominio del verso libre, en donde se puede organizar la estructura del poema sin necesidad de métricas.
          <br>
          <br>
          "La poesía es la perpetua tensión del poeta hacia un absoluto del lenguaje, en la esperanza de cautivar la
          realidad, lo efímero, eso mismo
          que se desvanece en el momento en que uno lo piensa, da un paso, con palabras que no se esperan y
          milagrosamente se ordenan, gracias a la
          cadencia que el mismo artista vacila en considerar como el fruto de su paciente trabajo."
          <br>
          - Octavio Paz
          <br>
          <br>
            </p>

        </section>
          <img class="image" style onclick="saludar()" src="assets/Imagen1.jpg" alt="Imagen1" >
          <img class="image" onclick="saludar()" src="assets/Imagen2.jpg" alt="Imagen2" >

  
  <hr>
