 <!-- Footer -->

 <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Siguenos en facebook</h5>
          <a href="https://www.facebook.com/Pazafira-102222331946172"><img src="assets/facebook.png" alt="" height="90px" width="90px"></a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Siguenos en instagram</h5>
          <a href="https://www.instagram.com/pazafira/" ><img src="assets/instagram.png" alt="" height="90px" width="90px"></a>
        </div>
      </div>
    </div>
  </div>


  <div class="Textofooter">
    <p>
        @copyrigth 2021 Ani Sofía Zamudio y Paola Rojas <br> 
        TODOS LOS DERECHOS RESERVADOS. BOGOTÁ-COLOMBIA
    </p>
</div>
