
        <!-- Titulo -->
        <article class="title" id="Inicio">
        <h1>Pazafira</h1>
      </article>
  
  
      <article  class="Texto">
  
          <h2>Nosotros</h2>
  
              <p> Somos una microempresa que se caracteriza  por
                  exponer productos de envases de bebidas con un bello
                  poema, para animar a los clientes que los compran.
                  <br><br>
                  Pazafira nació de la idea de ayudar el planeta, con
                  envases reciclados y además destacar la poesía, ya que
                  con el tiempo se ha perdido esta hermosa y fundamental
                  forma de expresión artística en nuestra sociedad.
                  <br><br>
                  <br>
                  Es por eso que queremos promover a través de nuestras botellas de vidrio reutilizables y nuestros posillos
                  personalizados, un movimiento
                  ecológico en el cuidado del medio ambiente. A la vez, dar a conocer la importancia de este género literario
                  y expresión artística en nuestra sociedad y futuras generaciones. Todos nacemos algo poetas porque el poeta
                  nace y se hace cada día.

                </p>
                  <br><br>
              <h5>"La poesía es encontrar la esencia de la realidad, descubriendo el tiempo y sus interrogantes".
                  - Pedro Salinas </h5>
              
  
      </article>
